ul {
	list-style: none;

	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background: radial-gradient(circle, skyblue, steelblue);
}

canvas {
	margin: 0 auto;
}

.visually-hidden {
	display: none;
}

.sidebar-menu {
	position: fixed;
	top: 0;
	left: 0;

	width: 280px;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.7);

  margin-left: -280px;

  overflow: auto;
  transition: .25s;
  z-index: 10;
}

.open-button {
	position: fixed;
	top: 20px;
	left: 20px;

	width: 50px;
	height: 50px;

	background-color: rgba(0, 0, 0, 0.7);

	border: 3px solid transparent;
	border-radius: 100%;
}

.open-button::before {
	content: '';

	position: absolute;
	top: 12px;
	left: 9px;

	width: 25px;
	height: 3px;

	background-color: #ffffff;
	box-shadow: 0 7px #ffffff,0 14px #ffffff;
}

.open-button:hover {
	cursor: pointer;
	border-color: #ffffff;
}

.close-button {
	position: fixed;
	top: 20px;
	left: 210px;

	width: 50px;
	height: 50px;

	background-color: transparent;

	border: 3px solid transparent;
  border-radius: 100%;

  transition: .25s;
	z-index: 20;
}

.close-button::after {
	content: '';

	position: absolute;
	top: 20px;
	left: 10px;

	width: 25px;
	height: 3px;

	background-color: #ffffff;

	transform: rotate(-45deg);
}

.close-button::before {
	content: '';

	position: absolute;
	top: 20px;
	left: 10px;

	width: 25px;
	height: 3px;

	background-color: #ffffff;

	transform: rotate(45deg);
}

.close-button:hover {
	cursor: pointer;
	border-color: #ffffff;
}

.sidebar-menu__list {
	margin-top: 100px;
}

.sidebar-menu__item {
	border-bottom: 2px solid #ffffff;
}

.sidebar-menu__item:first-child {
	border-top: 2px solid #ffffff;
}

.sidebar-menu__button {
	width: 280px;
	height: 30px;

	color: white;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;

	background-color: transparent;
	border: none;
}

.sidebar-menu__button:hover {
	cursor: pointer;
	color: #cccccc;
}

.shape-width,
.shape-quantity,
.background-color,
.shape-color {
	display: flex;
	flex-direction: column;

	justify-content: space-between;
}

.shape-quantity__label,
.shape-width__label,
.background-color__label,
.shape-color__label {
	width: 280px;
	height: 16px;

	color: white;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	text-align: center;

	padding-top: 7px;
	padding-bottom: 7px;

	margin-bottom: 10px;
}

.shape-quantity__label:hover,
.shape-width__label:hover,
.background-color__label:hover,
.shape-color__label:hover {
	cursor: pointer;
	color: #cccccc;
}

.shape-width__range,
.shape-quantity__range {
	position: relative;

	margin-bottom: 20px;
}

.shape-width__range::before,
.shape-quantity__range::before {
	content: '10';

	position: absolute;
	top: 18px;
	left: 0;

	color: white;
	font-size: 12px;
}

.shape-width__range::after,
.shape-quantity__range::after {
	content: '50';

	position: absolute;
	top: 18px;
	right: 0;

	color: white;
	font-size: 12px;
}

.background-color__input,
.shape-color__input {
	width: 274px;
	height: 24px;

	margin-bottom: 7px;
}

.main {
	width: 600px;
	margin: 0 auto;
}
